<app-title [titulo]="titulo"></app-title>
<div style="overflow: hidden">
  <div class="blog-single">

    <div class="blog-content">

      <div class="content site-content">

        <div class="blog-single-img">

          <img src="{{post._embedded['wp:featuredmedia'][0].media_details.sizes.full.source_url}}" alt="post" class="img"/>

        </div>

        <div class="blog-single-content" [innerHTML]="post.content.rendered"></div>

        <app-social-share [title]="titulo"></app-social-share>

      </div>

    </div>

  </div>

<!--  <div class="blog-sidebar" [hidden]="hiddenAppendices">-->

<!--    <h2>TODAS AS CATEGORIAS</h2>-->

<!--    <ul>-->
<!--      <a *ngFor="let cat of categorias" routerLink="/categoria/{{cat.slug}}/{{cat.id}}"><li>{{cat.name}}</li></a>-->
<!--    </ul>-->

<!--  </div>-->

<!--  <div class="blog-related" [hidden]="hiddenAppendices">-->

<!--    <h2>POSTS MAIS LIDOS</h2>-->

<!--    <div class="blog-related-items">-->

<!--      <a *ngFor="let popular of populares" routerLink="/blog/{{popular.slug}}/{{popular.id}}">-->

<!--        <div class="related-item">-->

<!--          <div class="related-item-img">-->
<!--            <img src="{{popular._embedded['wp:featuredmedia'][0].media_details.sizes.full.source_url}}" alt="post-image" />-->
<!--          </div>-->

<!--          <p [innerHTML]="popular.title.rendered"></p>-->

<!--        </div>-->

<!--      </a>-->

<!--    </div>-->

<!--  </div>-->

  <div class="blog-related">

    <h2 [hidden]="!hiddenAppendices" >PROJETOS RELACIONADOS</h2>
    <h2 [hidden]="!!hiddenAppendices" >OUTRAS SOLUÇÕES</h2>

    <div class="blog-related-items">

      <ng-container *ngFor="let rel of related; let i = index">

        <a *ngIf="rel.id != post.id && i < 4" routerLink="/blog/{{rel.slug}}/{{rel.id}}">

          <div class="related-item">

            <div class="related-item-img">
              <img src="{{rel._embedded['wp:featuredmedia'][0].media_details.sizes.full.source_url}}" alt="post-image" />
            </div>

            <p [innerHTML]="rel.title.rendered"></p>

          </div>

        </a>

      </ng-container>

    </div>

  </div>

  <app-form-contato></app-form-contato>
</div>
