.blog-single {

  padding: 60px 0;

}

.blog-single-img {

  text-align: center;
  padding: 0 180px 0 100px;

}

.blog-single-content {

  margin: 40px auto 0;
  padding: 0 180px 0 100px;

}

.blog-content {

  width: 75%;
  float: left;

}

.blog-sidebar {

  width: 25%;
  float: left;

}

.blog-sidebar h2 {

  font-size: 20px;
  text-align: left;

}

.blog-sidebar ul {

  text-align: left;
  font-weight: 100;
  list-style-type: none;
  padding: 0 0 30px;
  border-bottom: 1px solid #a7ce41;
  margin-bottom: 50px;

}

.blog-sidebar li {

  font-size: 18px;
  margin: 0 0 25px;

}

.mais-lido {

  margin: 40px 0;
  width: 80%;

}

.mais-lido img {

  width: 80px;
  float: left;
  margin: 0 10px 0 0;

}

.mais-lido p {

  margin: 0;

}

.blog-related {

  width: 100%;
  padding: 0 115px;

}

.blog-related h2 {

  padding: 40px 0 0;
  margin-top: 30px;
  border-top: 1px solid #a7ce41;

}

.blog-related-items {

  width: 100%;
  display: flex;
  justify-content: flex-start;

}

.blog-related-items a {

  width: 25%;
  padding: 0 25px 0 0;

}

.related-item-img {

  width: 100%;
  height: 250px;

}

@media screen and (max-width: 1180px) {

  .blog-content {
    width: 100%;
  }

  .blog-single-img {
    padding: 0;
  }

  .blog-single-content {
    padding: 0;
  }

  .blog-sidebar {
    width: 100%;
    padding: 0 10%;
  }

  .blog-sidebar h2:first-of-type {
    padding: 40px 0 0;
    margin-top: 30px;
    border-top: 1px solid #a7ce41;
  }

  .blog-related {
    padding: 0 10%;
  }

}

@media screen and (max-width: 1000px) {

  .blog-related-items {
    flex-direction: column;
  }

  .blog-related-items a {
    width: 70%;
    margin: 0 0 25px 0;
  }

}

@media screen and (max-width: 850px) {

  .blog-related-items a {
    width: 80%;
  }

}

