<div class="home-banner">

  <div class="content">

    <div class="home-banner-items">

      <div class="home-banner-item">

        <h2>SOLUÇÕES PARA FACILITAR SUA VIDA </h2>

        <p>A Starvai tem todas as soluções que vão desde luzes automáticas a assistentes pessoais que cuidam de todas as funções do seu dia a dia. Faça um orçamento sem compromisso e descubra como o tempo que você perde com tarefas simples pode ser melhor aproveitado junto com a sua família!</p>

      </div>

      <div class="home-banner-item">

        <img src="../../../assets/header.png" alt="home-banner" />

      </div>

    </div>

    <a href="#contato-form"><button>FAZER ORÇAMENTO</button></a>

  </div>

</div>

