<div class="home-banner">

  <div class="content">

    <ng-container *ngFor="let slide of slider">

      <div *ngIf="ativo == slide.id" class="home-banner-items">

        <div class="home-banner-item">

          <h2>{{slide.title}}</h2>

          <p>{{slide.text}}</p>

        </div>

        <div class="home-banner-item">

          <img src="{{slide.img}}" alt="home-banner" />

        </div>

      </div>

    </ng-container>

    <div class="slider-controls">

      <i *ngFor="let slide of slider" (click)="changeSlide(slide.id)" class="{{ativo == slide.id ? 'fas fa-circle active' : 'fas fa-circle'}}"></i>

    </div>

    <a href="#contato-form"><button>FAZER ORÇAMENTO</button></a>

  </div>

</div>

