<app-home-banner></app-home-banner>
<app-home-projetos></app-home-projetos>

<div class="home-text">

  <div class="content">

    <div class="home-text-items">

      <div class="home-text-item">

        <h2>ÁUDIO E VÍDEO</h2>

        <p>A Starvai é especialista em Áudio, Vídeo e Home Theater e pode proporcionar esses momentos únicos para sua família ficar mais unida! Afinal, nada melhor do que juntar as pessoas que você ama em um ponto de entretenimento familiar.</p>

      </div>

      <div class="home-text-item">

        <h2>ÁUDIO E VÍDEO</h2>

        <p>A Starvai é especialista em Áudio, Vídeo e Home Theater e pode proporcionar esses momentos únicos para sua família ficar mais unida! Afinal, nada melhor do que juntar as pessoas que você ama em um ponto de entretenimento familiar.</p>

      </div>

      <div class="home-text-item">

        <h2>ÁUDIO E VÍDEO</h2>

        <p>A Starvai é especialista em Áudio, Vídeo e Home Theater e pode proporcionar esses momentos únicos para sua família ficar mais unida! Afinal, nada melhor do que juntar as pessoas que você ama em um ponto de entretenimento familiar.</p>

      </div>

    </div>

    <button>FAZER ORÇAMENTO</button>

  </div>

</div>

<app-conheca-projetos></app-conheca-projetos>
<app-depoimentos></app-depoimentos>
<app-form-contato></app-form-contato>
