<div class="etapas">

  <div class="content">

    <h2>ETAPAS DA INSTALAÇÃO</h2>

    <div class="etapas-items">

      <div class="etapas-item">

        <i class="fas fa-clipboard-list"></i>
        <p>CONSULTA</p>

      </div>

      <div class="etapas-div">

        <div></div>

      </div>

      <div class="etapas-item">

        <i class="fas fa-pencil-ruler"></i>
        <p>PROJETO</p>

      </div>

      <div class="etapas-div">

        <div></div>

      </div>

      <div class="etapas-item">

        <i class="fas fa-network-wired"></i>
        <p>CABEAMENTO</p>

      </div>

      <div class="etapas-div">

        <div></div>

      </div>

      <div class="etapas-item">

        <i class="fas fa-tv"></i>
        <p>EQUIPAMENTOS</p>

      </div>

    </div>

    <div class="etapas-items">

      <div class="etapas-item">

        <i class="fas fa-cogs"></i>
        <p>DESENVOLVIMENTO</p>

      </div>

      <div class="etapas-div">

        <div></div>

      </div>

      <div class="etapas-item">

        <i class="fas fa-truck"></i>
        <p>ENTREGA</p>

      </div>

      <div class="etapas-div">

        <div></div>

      </div>

      <div class="etapas-item">

        <i class="fas fa-phone"></i>
        <p>PÓS-VENDA</p>

      </div>

    </div>

  </div>

</div>
