<div class="etapas">

  <div class="content">

    <h2>ETAPAS DA INSTALAÇÃO</h2>
    <p>Clique nos ícones para saber mais</p>

    <div class="etapas-items">

      <div (click)="openEtapa = etapas[0].id" class="etapas-item">

        <i *ngIf="openEtapa != etapas[0].id" class="{{etapas[0].icon}}"></i>
        <p *ngIf="openEtapa != etapas[0].id">{{etapas[0].title}}</p>

        <span *ngIf="openEtapa == etapas[0].id">{{etapas[0].text}}</span>

      </div>

      <div class="etapas-div">

        <div></div>

      </div>

      <div (click)="openEtapa = etapas[1].id" class="etapas-item">

        <i *ngIf="openEtapa != etapas[1].id" class="{{etapas[1].icon}}"></i>
        <p *ngIf="openEtapa != etapas[1].id">{{etapas[1].title}}</p>

        <span *ngIf="openEtapa == etapas[1].id">{{etapas[1].text}}</span>

      </div>

      <div class="etapas-div">

        <div></div>

      </div>

      <div (click)="openEtapa = etapas[2].id" class="etapas-item">

        <i *ngIf="openEtapa != etapas[2].id" class="{{etapas[2].icon}}"></i>
        <p *ngIf="openEtapa != etapas[2].id">{{etapas[2].title}}</p>

        <span *ngIf="openEtapa == etapas[2].id">{{etapas[2].text}}</span>

      </div>

      <div class="etapas-div">

        <div></div>

      </div>

      <div (click)="openEtapa = etapas[3].id" class="etapas-item">

        <i *ngIf="openEtapa != etapas[3].id" class="{{etapas[3].icon}}"></i>
        <p *ngIf="openEtapa != etapas[3].id">{{etapas[3].title}}</p>

        <span *ngIf="openEtapa == etapas[3].id">{{etapas[3].text}}</span>

      </div>

      <div class="etapas-div">

        <div></div>

      </div>

      <div (click)="openEtapa = etapas[4].id" class="etapas-item">

        <i *ngIf="openEtapa != etapas[4].id" class="{{etapas[4].icon}}"></i>
        <p *ngIf="openEtapa != etapas[4].id">{{etapas[4].title}}</p>

        <span *ngIf="openEtapa == etapas[4].id">{{etapas[4].text}}</span>

      </div>

      <div class="etapas-div">

        <div></div>

      </div>

      <div (click)="openEtapa = etapas[5].id" class="etapas-item">

        <i *ngIf="openEtapa != etapas[5].id" class="{{etapas[5].icon}}"></i>
        <p *ngIf="openEtapa != etapas[5].id">{{etapas[5].title}}</p>

        <span *ngIf="openEtapa == etapas[5].id">{{etapas[5].text}}</span>

      </div>

      <div class="etapas-div">

        <div></div>

      </div>

      <div (click)="openEtapa = etapas[6].id" class="etapas-item">

        <i *ngIf="openEtapa != etapas[6].id" class="{{etapas[6].icon}}"></i>
        <p *ngIf="openEtapa != etapas[6].id">{{etapas[6].title}}</p>

        <span *ngIf="openEtapa == etapas[6].id">{{etapas[6].text}}</span>

      </div>

    </div>

  </div>

</div>
