<div class="opcoes">

  <div class="content">

    <h2>O SEU PROJETO PODE CONTER:</h2>
    <div class="title-divisor"></div>

    <div class="opcoes-items">

      <div class="opcoes-item">

        <i class="fas fa-check"></i>
        <p>LOREM IPSUM DOLOR SIT AMET</p>

      </div>

      <div class="opcoes-item">

        <i class="fas fa-check"></i>
        <p>LOREM IPSUM DOLOR SIT AMET</p>

      </div>

      <div class="opcoes-item">

        <i class="fas fa-check"></i>
        <p>LOREM IPSUM DOLOR SIT AMET</p>

      </div>

      <div class="opcoes-item">

        <i class="fas fa-check"></i>
        <p>LOREM IPSUM DOLOR SIT AMET</p>

      </div>

      <div class="opcoes-item">

        <i class="fas fa-check"></i>
        <p>LOREM IPSUM DOLOR SIT AMET</p>

      </div>

      <div class="opcoes-item">

        <i class="fas fa-check"></i>
        <p>LOREM IPSUM DOLOR SIT AMET</p>

      </div>

    </div>

    <h2>E MUITO MAIS!</h2>

    <button>FAZER ORÇAMENTO</button>

  </div>

</div>
