.opcoes {

  background-color: #2E2E2E;
  padding: 70px 0 0;
  text-align: center;

}

.opcoes h2 {

  color: white;
  font-weight: 100;
  font-size: 35px;
  margin: 0 auto;
  text-align: center;

}

.opcoes-items {

  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px auto;

}

.opcoes-item {

  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  box-sizing: border-box;
  background-color: #232323;
  margin: 15px;

}

.opcoes-item i {

  color: #A7CE41;
  font-size: 30px;
  margin: 0 25px 0 0;

}

.opcoes-item p {

  color: white;
  font-weight: 100;
  font-size: 18px;
  text-align: left;

}
