<div class="footer">

  <div class="content">

    <img src="../../../assets/logo.png" alt="logo-starvai" />

    <div class="footer-info">

      <p>SIA Trecho 1 Lote 230 Sala 113<br>
        Edifício Bradesco, Guará  – DF<br>
        CEP 71200-010</p>

      <p>Visitas ao showroom e<br>
        locais de instalação mediante<br>
        <span>agendamento</span>.</p>

    </div>

    <div class="footer-contato">

      <p>+55 61 3436 - 0002<br>
        contato@starvai.com.br</p>

    </div>

  </div>

</div>
