<app-title [titulo]="titulo" [subtitulo]="subtitulo"></app-title>

<div class="trabalhos">

  <div class="trabalho-item">

    <p>Estúdio Mova e Sintese Arquitetura – Home Cinema</p>

    <img src="../../../assets/job.png" alt="starvai-job" />

  </div>

  <div class="trabalho-item">

    <p>Estúdio Mova e Sintese Arquitetura – Home Cinema</p>

    <img src="../../../assets/job.png" alt="starvai-job" />

  </div>

  <div class="trabalho-item">

    <p>Estúdio Mova e Sintese Arquitetura – Home Cinema</p>

    <img src="../../../assets/job.png" alt="starvai-job" />

  </div>

</div>

<app-form-contato></app-form-contato>
