<div class="home-projetos">

  <div class="content">

    <ul>

      <li class="active">PROJETO SAFEHOUSE</li>
      <li>PROJETO CLEVERHOME</li>
      <li>PROJETO FUNFLAT</li>

    </ul>

    <div class="home-projetos-item">

      <img src="../../../assets/home-project.jpg" alt="home-project" />

      <div class="home-projetos-item-text">

        <p>O Projeto Safehouse contém soluções que automatizam a segurança da sua casa para que você e sua família possam dormir mais tranquilamente, sabendo que sua casa está sendo vigiada mesmo que você esteja do outro lado do mundo!</p>

        <ul>

          <li>Fechaduras eletrônicas</li>
          <li>Fechaduras eletrônicas</li>
          <li>Fechaduras eletrônicas</li>
          <li>Fechaduras eletrônicas</li>
          <li>Fechaduras eletrônicas</li>

        </ul>

        <span>...E muito mais!</span>

      </div>

    </div>

    <a routerLink="/projetos"><button>SAIBA MAIS</button></a>
    <a routerLink="/contato"><button>FAZER ORÇAMENTO</button></a>

  </div>

</div>
