<div class="home-projetos">

  <div class="content">

    <ul>

      <li *ngFor="let projeto of projetos" (click)="seletor = projeto.id; slug = projeto.slug" [ngClass]="{'active': seletor == projeto.id}">Projeto {{projeto.title}}</li>

    </ul>

    <ng-container *ngFor="let projeto of projetos">

      <div *ngIf="seletor == projeto.id" class="home-projetos-item">

        <img src="../../../assets/home-project.jpg" alt="home-project" />

        <div class="home-projetos-item-text">

          <p>{{projeto.resume}}</p>

          <ul>
            <li *ngFor="let opcoes of projeto.opcoes">{{opcoes.title}}</li>
          </ul>

          <span>...E muito mais!</span>

        </div>

      </div>

    </ng-container>

    <a routerLink="/projetos/{{slug}}/{{seletor}}"><button>SAIBA MAIS</button></a>
    <a routerLink="/contato"><button>FAZER ORÇAMENTO</button></a>

  </div>

</div>
