.recentes h2 {

  font-weight: 100;
  font-size: 35px;
  margin: 25px auto 15px;
  text-transform: uppercase;


}

.recentes-items {

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 0 15px 0;

}

.recentes-item {

  width: 49%;

}

.recentes-item img {

  height: 280px;

}

.recentes-item p {

  font-weight: 100;

}

@media screen and (max-width: 1350px) {

  .recentes-item {
    width: 49%;
  }

}

@media screen and (max-width: 980px) {

  .recentes-item {
    width: 100%;
    margin: 0 0 30px 0;
  }

  .recentes-item img {
    height: auto;
    width: 100%;
  }

}

.content-blog {
  flex-wrap: wrap;
  padding: 40px;
}

.container-button {
  width: 100%;
  display: flex;
  justify-content: center;
}
