<div class="recentes">

  <div class="content">

    <h2>{{categoria}}</h2>

    <div class="recentes-items">

      <div class="recentes-item">

        <img src="../../../assets/post.jpg" alt="post-image" />

        <p>Mono, estéreo e surround: entenda a diferença entre os módulos de som</p>

      </div>

      <div class="recentes-item">

        <img src="../../../assets/post.jpg" alt="post-image" />

        <p>Mono, estéreo e surround: entenda a diferença entre os módulos de som</p>

      </div>

      <div class="recentes-item">

        <img src="../../../assets/post.jpg" alt="post-image" />

        <p>Mono, estéreo e surround: entenda a diferença entre os módulos de som</p>

      </div>

    </div>

  </div>

</div>
