<app-title></app-title>

<div class="content">

  <div class="projeto-desc">

    <div class="projeto-desc-texto">

      <h2>FECHADURAS ELETRÔNICAS</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus mattis vulputate. Vivamus in mi quis odio fermentum finibus.</p>

    </div>

    <div class="projeto-desc-img">

      <img src="../../../assets/01.jpg" alt="fechadura-eletronica" />

    </div>

  </div>

  <div class="projeto-desc projeto-desc-reverse">

    <div class="projeto-desc-texto projeto-desc-texto-reverse">

      <h2>FECHADURAS ELETRÔNICAS</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus mattis vulputate. Vivamus in mi quis odio fermentum finibus.</p>

    </div>

    <div class="projeto-desc-img">

      <img src="../../../assets/01.jpg" alt="fechadura-eletronica" />

    </div>

  </div>

</div>

<app-etapas></app-etapas>
<app-opcoes></app-opcoes>
<app-faq></app-faq>
<app-form-contato></app-form-contato>
