<div class="super-header">

  <div class="content">

    <div class="top-info">

      <ul class="top-left">

        <li>+55 61 3436 - 0002</li>
        <li>|</li>
        <li>contato@starvai.com.br</li>
        <li>|</li>
        <li>Seg-Sex 09h às 18h</li>

      </ul>

      <ul class="top-right">

        <li><i class="fab fa-facebook-f"></i></li>
        <li><i class="fab fa-instagram"></i></li>
        <li><i class="fab fa-youtube"></i></li>

      </ul>

    </div>

  </div>

</div>

<div class="header">

  <div class="content">

    <div class="menu">

      <a routerLink=""><img src="../../../assets/logo.png" alt="starvai-logo" /></a>

      <i id="openMenu" (click)="menuControl('on')" class="fas fa-bars"></i>

      <ul id="mainMenu">

        <i id="closeMenu" (click)="menuControl('off')" class="fas fa-times"></i>

        <li>EMPRESA</li>
        <li>NOSSOS SERVIÇOS</li>
        <a routerLink="/trabalhos"><li>PROJETOS EXECUTADOS</li></a>
        <a routerLink="/blog"><li>BLOG</li></a>
        <a routerLink="/contato"><li>CONTATO</li></a>

      </ul>

    </div>

  </div>

</div>
